<h3 style="float: left">Randonni</h3><br>
<center><h3>Reclamation</h3></center><br>
<h4>Information d' admin</h4>
NOM :
{{ users.nom }}
<br>
PRENOM :
{{ users.prenom }}
<br>
ADRESSE Mail :
{{ users.email }}
<br><br><br><br><br>
<center>
    <table border="1">
        <tr>
            <td>Description</td>
            <td>Reponse</td>
            <td>Type reclamation</td>
            <td>Date envoie</td>
            <td>Email Randonneur</td>
        </tr>

        <tr>
            <td>{{ demandes.description}}</td>
            <td>{{ demandes.reponse }}</td>
            <td>{{ demandes.type }}</td>
            <td>{{ demandes.dateEnvoi|date('d-m-Y') }}</td>
            <td>{{ demandes.randonneur.email}}</td>

        </tr>
    </table>
</center>
