{% extends "PIBaseBundle::layoutadmin.html.twig" %}

{% block content %}
    <h3>Liste des Commentaires</h3>

    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
        <div class="col-xs-6">
            <div class="dataTables_length" id="dynamic-table_length">
            </div>
        </div>


        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>


        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid"
               aria-describedby="dynamic-table_info">
            <thead>
            <th class="detail-col">Details</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Commentaire</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Nom d'utilisateur</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending">
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                Date et heure d'envoie
            </th>

            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Status: activate to sort column ascending">Etat</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
            </th>
            <th></th>
            </tr>

            </thead>
            <tbody>

            {% for commentaire in commentaire %}

                <tr role="row" class="odd">
                    <td class="center">
                        <div class="action-buttons">
                            <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
                                <i class="ace-icon fa fa-angle-double-down"></i>
                                <span class="sr-only">Details</span>
                            </a>
                        </div>
                    </td>

                    <td> {{commentaire.text}} </td>
                    <td>{{commentaire.userId}} </td>
                    <td>{{commentaire.dateenv|date}}</td>

                    {% if commentaire.signals == 1 %}
                        <td><span class="label label-sm label-warning">Signalé</span></td>
                    {% endif %}
                    {% if commentaire.signals == 0 %}
                        <td><span class="label label-sm label-success"> Non Signalé</span></td>
                    {% endif %}



                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <li>
                                <!---->
                                <a href="{{ path('signal_comm_Mail',{'id':commentaire.idCom}) }}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																				<span class="grey">
							<i class="ace-icon fa fa-envelope bigger-120"></i>
																				</span>
                                </a>
                            </li>

                            <li>
                                <a href="{{ path('pi_commentaire_supprimer',{'id':commentaire.idCom}) }}" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
											<span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                </a>

                            </li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <!--ICI-->
                <!--ICI    <tr class="detail-row">
                    <td colspan="8">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2">
                                    <div class="text-center">
                                        <br>
                                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a class="user-title-label" href="#">
                                                    <i class="ace-icon fa fa-circle light-green"></i>
                                                    &nbsp;
                                                    <span class="white">{{ commentaire.text }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-7">
                                    <div class="space visible-xs"></div>

                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Auteur </div>

                                            <div class="profile-info-value">
                                                <span>{{ commentaire.text }}</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Theme </div>

                                            <div class="profile-info-value">
                                                <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                <span>{{ commentaire.text }}</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Nombre de Participant </div>

                                            <div class="profile-info-value">
                                                <span>{{ commentaire.text }}</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>-->

            {% endfor %}



            </tbody>
        </table>
    </div>

{% endblock %}

{% block script %}

    <!-- page specific plugin scripts -->
    <script src="{{ asset('assets/js/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('assets/js/jquery.ui.touch-punch.min.js')}}"></script>
    <!-------------------------------------------------->
    <script src="{{ asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/js/jquery.dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('assets/js/dataTables.select.min.js')}}"></script>
    <!------------------------------------------------------>
    <script src="{{ asset('assets/js/buttons.flash.min.js')}}"></script>
    <script src="{{ asset('assets/js/buttons.html5.min.js')}}"></script>
    <script src="{{ asset('assets/js/buttons.print.min.js')}}"></script>
    <script src="{{ asset('assets/js/buttons.colVis.min.js')}}"></script>

    <script type="text/javascript">

        jQuery(function($) {
            //initiate dataTables plugin
            var myTable =
                $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                    .DataTable( {
                        bAutoWidth: false,
                        "aoColumns": [
                            { "bSortable": false },
                            null, null,null, null, null,
                            { "bSortable": false }
                        ],
                        "aaSorting": [],
                        select: {
                            style: 'multi'
                        }
                    } );

        })
    </script>
    <!-- page specific plugin scripts -->

{%  endblock %}