{% extends "PIBaseBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

{% block content %}

    <div class="container">

        <h2> <strong> Envoyer Reclamation</strong> </h2>
        <hr>

        {{ form_start(form) }}

        <div>Sujet:</div>
        <div>
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
        <div>Nom:</div>
        <div>
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div>Adresse mail:</div>
        <div>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div>Message:</div>
        <div>
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>


        <div style="display:none">
            {{ form_rest(form) }}
        </div>
        <hr />
        <input class="form-control" type="submit" value="Submit">
    </div>
    {{ form_end(form) }}


    {% block footer %}
        {{ parent() }}
    {% endblock %}


{% endblock %}
{% endblock%}