{% extends "PIBaseBundle::layoutadmin.html.twig" %}

{% block content %}

    <form action="{{path('admin_materielRech')}}" method="post" >
        <input type="text" id="nom" name="nom" value=""
               placeholder="Nom du materiel">
        <input value="Chercher" type="submit" >
    </form></div>


    </form>
    <form id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
    <div >


    <div class="row"><div class="col-xs-6">
            <div class="dataTables_length" id="dynamic-table_length">


        </div></div>




    <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid"
           aria-describedby="dynamic-table_info">
        <thead>
        <tr role="row"><th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                           aria-label="Domain: activate to sort column ascending">Nom</th>
            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Clicks: activate to sort column ascending">Prix</th>
            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Status: activate to sort column ascending">Type</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Domain: activate to sort column ascending">Etat</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Domain: activate to sort column ascending">Referance</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Domain: activate to sort column ascending">Quantite</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                aria-label="Domain: activate to sort column ascending">Description</th>

        </tr>

        </thead>
        <tbody>

        {% for materiel in materiels %}



        <tr role="row" class="odd">

            <td>{{ materiel.nom}} </td>
            <td>{{ materiel.prix}} </td>
            <td>{{ materiel.type}} </td>


            <td>
                {{ materiel.etat}}
            </td>

            <td>{{ materiel.reference}} </td>

            <td>{{ materiel.quantite}} </td>
            <td>{{ materiel.description}} </td>


            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a class="blue" href="#">
                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                    </a>

                    <a class="green" href="{{path('admin_materielModifier',{'reference':materiel.id})}}">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>
                    <a class="red " href="{{path('admin_materielSupprimer',{'reference':materiel.id})}}" onclick="return confirm('Vous etes sure de vouloir supprimer ?')">



                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																	<span class="blue">
										<i class="ace-icon fa fa-search-plus bigger-120"></i>
																				</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																				<span class="green">
							<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																				</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
											<span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i>
																				</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            {% endfor %}
        </tr></tbody>
    </table>


{% endblock %}